*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #0f172a;
}

body{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #f1f5f9;
}

.principal{
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
    padding: 1rem;
    margin-top: 10rem;
    border-radius: 8px;
    background-color: white;
}

#title{
    display: flex;
    justify-content: center;
}

#sub-title{
    display: flex;
    justify-content: center;
    padding: 20px;
}

main{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-value{
    width: 100%;
    padding: 7px;
    margin: 6px 0 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    
}

#calculate{
    padding: 7px;
    background-color: #22c55e;
    border: none;
    border-radius: 5px;
    font-size: large;
    font-weight: 500;
    
}

#calculate:hover{
    background-color:  #16a34a;
}

#calculate:active{
    opacity: 0.8;
}

footer{
    display: flex;
    gap: 5px;
    margin-top: 20px;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


